

.body {
    
    background-image: url("./images/circles-light.png");
    
    height: 100vh; 
    padding: 0px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-size: cover;
    
    
}
.header{
    width: 100%;
   
}

#navbarText{
    float: right;
    margin-right: 40px;
    padding: 10px;
  
  }



.navbar {
    background-color: #fff;
    border-bottom: 7px solid #cccc;
    
}





h1{
   
   background-color: #4aaa;
   color:#fff;
   padding: 10px;


}

h2{
    color: #7777;
    background-color: #fff;
    text-align: left;
    border-bottom: 4px solid #cccc;
}
.content-box, .works-cited {
  
    border: 4px solid #cccc;
    background-color: white;
    width: 960px;
    height:100%;
    padding:15px;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom:20px;
    box-sizing: content-box;
    
}   

.my-photo{
    position: relative;
    float: left;
}
footer{
    display:block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    line-height: 60px;
    background-color: #cccc;


    
}


.scratch-img{
    position: relative;
    top: autopx;
    left: 70px;
   
  
    border:4px solid #cccc;



}

.website-img{
    position: relative;
    float: right;
    top: auto 0px;
    left: 100px;
    border:4px solid #cccc;
 

}


.debug-img{
   position: relative;
   float: right;
   top: autopx;
   left: 70px;
   margin-top: 20px;
    border:4px solid #cccc;

}


.clearfix::after{
	Content:"";
	Display: block;
	Clear: both;
}

