.body {
    /* height:100%; */
    background-image: url("./images/circles-light.png");
    position: center;
    padding: 0px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
    background-color: #fff;
    border-bottom: 7px solid #cccc;
    
}
.nav-item{
    position: relative;
    float: right;
}

h1{
   position: relative;
   float: left;
   background-color: #4aaa;
   color:#fff;
   padding: 10px;


}
h2{
    color: #7777;
    background-color: #fff;
    text-align: left;
    border-bottom: 4px solid #cccc;
}
.content-box{
    border: 4px solid #dddd;
    width: 960px;
    height:100%;
    padding:15px;
    margin:0 auto;
    margin-top: 20px;
    
}   
.about-me{

}
.my-photo{
    position: relative;
    float: left;
}
